<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="showAllCustomers" method="get">
    <legend>Show all</legend>
    <input type="submit" value="Show all"/>
</form>
<br/>
<br/>
<form action="addCustomer" method="post">
    <legend>New user</legend>
    <br/><label> First Name : <input type="text" name="fristname"/> </label>
    <br/><label> Last Name : <input type="text" name="lastname"/> </label>
    <br/><label> Email : <input type="text" name="email"/> </label>
    <br/><label> Password : <input type="password" name="password"/> </label>
    <br/><label> Phone number : <input type="text" name="phone"/> </label>
    <br/><label> City : <input type="text" name="city"/> </label>
    <br/><label> State : <input type="text" name="state"/> </label>
    <br/><label> Country : <input type="text" name="country"/> </label>
    <br/><input type="submit" value="Sign Up"/>
</form>
<p th:text = "${something}"></p>
</body>
</html>